<h1>Who are us?</h1>

<div class="row row-cols-1 row-cols-sm-2 justify-content-center gy-3 mt-3 mb-5">
  <div class="col col-lg-4">
    <div class="card h-100">
      <img src="/images/people/dohyun-kim.jpg" alt="Picture of Dohyun Kim" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Dohyun Kim <small class="text-muted">(Jamee Kim)</small></h5>
        <p class="card-text">Programming, Story Design, Graphics Design, Level Design</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="card-text mb-1">Korea University - Physics</p>
          <p class="card-text">Centennial College - Game Programming</p>
        </li>
      </ul>
      <div class="card-body">
        <a href="https://github.com/jameekim/" class="card-link">GitHub</a>
      </div>
    </div>
  </div>
  <div class="col col-lg-4">
    <div class="card h-100">
      <div class="card-img top">
        <img src="/images/icons/user-solid.svg" alt="Icon of a person" class="m-4">
      </div>
      <div class="card-body">
        <h5 class="card-title">June-hee Kim <small class="text-muted">(June Kim)</small></h5>
        <p class="card-text">Story Design, Game Systems Design, UI Design, Graphics Design, Level Design</p>
      </div>
    </div>
  </div>
</div>

<h2>About Dohyun Kim</h2>
<p>
  I am a programmer who started out programming as a hobby. It turned out that my passion for programming was more than
  what I would like to keep as a hobby, so now I am studying solely about programming. As an avid video game player, I
  became interested in how games are made, and now I am starting to build those myself.
</p>
