<h1>Welcome to Nodap Life Studios</h1>

<div class="row justify-content-center mt-4 mb-5">
  <div class="col-12 col-lg-8">
    <p class="lead">We create games with</p>
    <ul class="list-group">
      <li class="list-group-item">
        <h5>Inclusiveness</h5>
        <p class="mb-1">
          We value diversity, and we strive to provide the joy of games to everyone equally.
        </p>
      </li>
      <li class="list-group-item">
        <h5>Excitement of Adventure</h5>
        <p class="mb-1">
          We offer our players the joy of exploration through thoughtful storytelling.
        </p>
      </li>
      <li class="list-group-item">
        <h5>Balanced Progression</h5>
        <p class="mb-1">
          We carefully evaluate our players' experience, providing a reasonable progression throughout the whole
          playthrough.
        </p>
      </li>
    </ul>
  </div>
</div>

<nav class="row gy-2">
  <h2>To know more about us...</h2>
  <div class="col-12 col-lg">
    <a href="/about" class="card card-shadow card-hover">
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <p class="card-text">Learn more about us</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg">
    <a href="/projects" class="card card-shadow card-hover">
      <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <p class="card-text">View our projects</p>
      </div>
    </a>
  </div>
  <div class="col-12 col-lg">
    <a href="/services" class="card card-shadow card-hover">
      <div class="card-body">
        <h5 class="card-title">Services</h5>
        <p class="card-text">See what we can offer</p>
      </div>
    </a>
  </div>
</nav>
