<h1>What can we provide you with?</h1>

<ul class="row row-cols-1 row-cols-md-2 justify-content-center mt-4">
  <li class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Game Development</h5>
        <p class="card-text mb-1">
          Have an idea about a fun game? We can help you flesh out the details and implement it!
        </p>
        <p class="card-text">
          We can select the best engine for your idea among
          <a href="http://unrealengine.com" target="_blank" rel="noopener noreferrer">Unreal Engine</a>,
          <a href="http://unity.com" target="_blank" rel="noopener noreferrer">Unity</a>, and
          <a href="http://godotengine.org" target="_blank" rel="noopener noreferrer">Godot</a>.
        </p>
        <div class="row g-2">
          <a href="http://unrealengine.com" target="_blank" rel="noopener noreferrer" class="col">
            <img src="/images/icons/ue-logo-black.svg" alt="Logo of Unreal Engine" class="w-100">
          </a>
          <a href="http://unity.com" target="_blank" rel="noopener noreferrer" class="col">
            <img src="/images/icons/unity-brands.svg" alt="Logo of Unity" class="w-100">
          </a>
          <a href="http://godotengine.org" target="_blank" rel="noopener noreferrer" class="col">
            <img src="/images/icons/godot.svg" alt="Logo of Godot" class="w-100">
          </a>
        </div>
      </div>
    </div>
  </li>

  <li class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">General Programming</h5>
        <p class="card-text">We can create general programs with various languages for you.</p>
        <big class="card-text">
          <a href="http://www.rust-lang.org" target="_blank" rel="noopener noreferrer">
            <span class="badge rounded-pill bg-secondary">Rust</span>
          </a>
          <a href="http://www.haskell.org" target="_blank" rel="noopener noreferrer">
            <span class="badge rounded-pill bg-secondary">Haskell</span>
          </a>
          <span class="badge rounded-pill bg-secondary">C/C++</span>
          <a href="http://www.javascript.com" target="_blank" rel="noopener noreferrer">
            <span class="badge rounded-pill bg-secondary">Javascript</span>
          </a>
          <a href="http://www.typescript.org" target="_blank" rel="noopener noreferrer">
            <span class="badge rounded-pill bg-secondary">Typescript</span>
          </a>
        </big>
      </div>
    </div>
  </li>
</ul>
